*.mp4 filter=lfs diff=lfs merge=lfs -text
* text=auto
# JavaScript
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
# CSS
*.css text eol=lf
*.scss text eol=lf
# HTML
*.html text eol=lf
# JSON
*.json text eol=lf
*.jsonc text eol=lf
# YAML
*.yml text eol=lf
*.yaml text eol=lf
# Markdown
*.md text eol=lf
# SVG
*.svg text eol=lf
# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.webm binary
*.wav binary
*.ico binary

# LFS for Videos only
